{% extends "main.html" %}
{% block content %}
<div class="card offset-md-2 card-align">
    <div class="card-header">
        <h2>Delete {{item.title}}</h2>
    </div>
    <div class="card-body">
        <p>Are you sure you want to delete?</p>
        <form method="post">
            <button type="submit" class="btn btn-danger" id="submit">
                    Confirm
            </button>
            <a class="btn btn-secondary" href="{{url_for('get_item', category_id=item.category_id, item_id=item.id)}}">Cancel</a>
        </form>
    </div>
{% endblock %}
